/* universal selector to prevent from default browser stylling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* body background stylling */
html{
    /* background-color: #f5f5f0; */
    scroll-behavior: smooth;
}
body{
    background-color: #FAFBFD;
}

                            /* header stylling */
header{
    width: 100vw;
    /* border: 2px solid black; */
    outline: 2px solid #e5dede;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
    position: fixed;
    background-color: #FAFBFD;
}
.header-name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.header-name .dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
}
.header-name .one{
    background-color: #FBD15B;
}
.header-name .two{
    background-color: #FF8578;
}
.header-name .three{
    background-color: #616BF1;
}
.header-name h3{
    font-size: 26px;
    color:#112B46;
}

.header-nav{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 26px;
}
.header-nav li{
    list-style: none;
}
.header-nav li a{
    text-decoration: none;
    font-weight: bold;
    color: #112B46;
}

.header-nav  i{
    /* font-size: 12px; */
    display: none;
}

.header-nav li a:hover{
    text-decoration: underline #FF8578;
    cursor: pointer;
}

            /* input box hidding */
#check{
    display: none;
}

                    /* side bar */
.side-bar{
    /* display: none; */
    /* border: 2px solid red; */
    position: fixed;
    top: 55px;
    right: 0;
    background-color: #f5f5ef;
    opacity: 0.8;
    padding-left: 5px;
    visibility: hidden;

}
.side-bar li{
    list-style: none;
    padding: 8px 10px 0 5px;
    margin-bottom: 10px;

}
.side-bar a{
    text-decoration: none;
    font-size: 16px;
    color: #112B46;
    font-weight: 600;
}

.side-bar a:hover{
    cursor: pointer;
    /* box-shadow: 2px 2px 3px #aaaaaa; */
    /* font-size: 17px; */
    /* opacity: 0.8; */
    color: #616BF1;
}
.side-bar li:hover{
    border-bottom: 2px solid  #112B46;
}


                        /* about setion stylling */
.about-section{
    width: 100%;
    height: 700px;
    /* border: 2px solid green; */
    /* margin-top: 10px; */
    background-color: #FAFBFD;
    display: flex;
    padding-top: 20px;
}
.about-section .intro-section{
    width: 50%;
    height: 100%;
    /* border: 2px solid red; */

    display: flex;
    align-items: center;
    /* padding-left: 100px; */

}
.intro-text{
    width: 60%;
    /* border: 2px solid black; */
    margin-left: 200px;
}
.intro-text h1{
    font-size: 70px;
    line-height: 1;
    margin: 10px 0 21px 0;
    color: #112B46;
}
.intro-text span{
    color: #FF8578;
}
.intro-text p{
    font-size: 20px;
    color: #3D3D79;
    /* margin-top: 21px; */
}


.about-section .img-section{
    width: 50%;
    /* height: 100%; */
    /* border: 2px solid blue; */
}

.about-section .img-section img{
    width: 100%;
    height: 100%;
}



                    /* project section stylling */

.projects-section{
    width: 100%;
    /* height: 500px; */
    /* border: 2px solid black; */
    /* text-align: center; */
    margin: 10px 0;
    padding-top: 100px;
}
.projects-section-heading{
    font-size: 39px;
    text-align: center;
    margin: 30px 0 45px;
    color: #112B46;
}

.projects {
    width: 70%;
    /* height: 500px; */
    /* border: 2px solid red; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
}
.projects .project{
    width: 300px;
    /* border: 2px solid green; */
    background-color: #f5f5ef;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.project a{
    text-decoration: none;
    color: black;
}
.project .image{
    /* border: 2px solid red; */
    text-align: center;
}
.project img{
    width: 200px;
    margin-top: 10px;
}

.project h3{
    margin: 0 15px 10px 20px;
    /* border: 1px solid red; */
}

.project p{
    color: #8F95A4;
    /* border: 1px solid red; */
    width: 250px;
    margin: 0 15px 10px 20px;    
}
.project h3{
    margin-top: 15px;
}

.project:hover{
    cursor: pointer;
    /* transform: ; */
    opacity: 0.8;
    box-shadow: none;
    /* transition: 0.1s ease-in-out; */
}



                    /* contact section */
.contact-section{
    width: 50%;
    /* border: 2px solid black; */
    margin: 20px auto;
    text-align: center;
    padding-top: 100px;
}

#contact-section h1{
    font-size: 39px;
    /* font-weight: 600; */
    color: #112B46;
}

#contact-section .social-cont{
    /* border: 2px solid red; */
    width: 60%;
    font-size: 24px;
    margin: 40px auto 0;
    font-weight: bold;
}
.social-cont a{
    text-decoration: none;
}
.social-cont i{
    padding: 10px; 
    color: #3D3D79;
}
.social-cont span{
    padding-right: 15px;
    color: #112B46;
}

.social-cont span:hover{
    cursor: pointer;
    text-decoration: underline #3D3D79;
    color: #3D3D79;
    /* color: green; */
}



                    /* footer section stylling */
footer{
    border-top: 2px solid #e5dede;
    text-align: center;
    padding: 20px ;
    color: #3D3D79;
    margin-top: 40px;
}












                                        /* media query */
@media (max-width:430px){

    
                /* header stylling */
    header{
        width: 99vw;
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
    }
    .header-name .dot{
        width: 8px;
        height: 8px;
    }
    .header-name h3{
        font-size: 18px;
        color:#112B46;
    }
    .header-name{
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .header-nav li{
        display: none;
    }
    .header-nav i{
        display: block;
        font-size: 16px;
    }

    /* stylling to make visible menu option after clicking */
    #check:checked ~ .side-bar{
        visibility: visible;
    }


                    /* about section */
    .about-section{
        /* border: 2px solid green; */
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .intro-section{
        width: 50%;
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-section{
        width: 50%;
        /* border: 2px solid blue; */
    }
    .intro-section .intro-text{
        /* border: 1px solid black; */
        width: 80%;
        margin-left: 15px;

    }
    .intro-text h3{
        font-size: 10px;
    }
    .intro-text h1{
        font-size: 25px;
        margin-bottom: 12px;
    }
    .intro-text p{
        font-size: 10px;
    }




                        /* Project section */
    .projects-section{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        padding-top: 0;
    }
    .projects-section-heading{
        font-size: 25px;
    }

    .projects{
        /* border: 2px solid violet; */
        display: grid;
        grid-template-columns: 1fr;
    }
    .project{
        /* width: 200px; */
        background-color: #f5f5ef;
        /* border: 1px solid green; */
    }



                        /* contact section */
    .contact-section{
        /* border: 2px solid yellow; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        padding-top: 0;
    }

    .contact-section-heading {
        /* width: 50%; */
        /* height: 50px; */
        font-size: 1rem;
        /* border: 1px solid green; */

    }

    .social-cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .social-cont span{
        font-size: 12px;
        padding-bottom: 15px;
    }
    .social-cont i{
        font-size: 18px;
    }



                    /* footer section */
    footer{
        font-size: 12px;
    }
}